body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:561px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:54px;
  width:321px;
  height:560px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:138px;
  width:322px;
  height:477px;
  overflow:hidden;
  visibility:hidden;
}
#u65_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:477px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:476px;
}
#u66_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:476px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:476px;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:321px;
  height:30px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:321px;
  height:30px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:321px;
  height:30px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:321px;
  height:30px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:321px;
  height:30px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:321px;
  height:30px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:321px;
  height:30px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:321px;
  height:30px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:321px;
  height:30px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:321px;
  height:30px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:321px;
  height:30px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:321px;
  height:30px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:321px;
  height:30px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:321px;
  height:30px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:27px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:321px;
  height:26px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:108px;
  width:321px;
  height:30px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:120px;
  width:8px;
  height:6px;
  color:rgba(51, 51, 51, 0.658823529411765);
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:31px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:108px;
  width:321px;
  height:30px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:120px;
  width:8px;
  height:6px;
  color:rgba(51, 51, 51, 0.658823529411765);
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:82px;
  width:43px;
  height:16px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
