body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:56px;
  width:169px;
  height:50px;
  font-size:20px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:106px;
  width:170px;
  height:212px;
  overflow:hidden;
  visibility:hidden;
}
#u97_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:212px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:69px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:68px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:69px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:169px;
  height:68px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:76px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:169px;
  height:75px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:165px;
  word-wrap:break-word;
}
